@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.learn__press 
{
    width: 100%;
    height: 100vh;
    /* background: yellow; */
}


.learn__press img[alt="learn__press"]
{
    max-width: 350px;
    margin-bottom: 4rem;
    margin-left: 22rem;
}


.learn__press .learn__press__info 
{
    height: 25rem;
    /* background: #ccc; */
    display: flex;
    justify-content: space-between;
}



.learn__press__info .learn__press__info__text, .learn__press__info__imgs
{
    width: 48%;
    height: 100%;
    /* background: #ccc; */
}

.learn__press__info .learn__press__info__text .par 
{
    box-shadow: 0 5px 15px 0 rgba(121,121,122,.7);
    border-radius: 10px;
    background: whitesmoke;
    height: .7rem;
    position: relative;
}

.learn__press__info .learn__press__info__text .par:after 
{
    content: "";
    display: block;
    position: absolute;
    width: 60%;
    height: 100%;
    background: rgb(255, 182, 6);
    border-radius: 10px;
    animation: widthh 1s linear ;
    -webkit-animation: widthh 1s linear ;
}

    @keyframes widthh {
        0% {
            width: 0;
        }
        100% {
            width: 60%;
        }
}

.learn__press__info__imgs .card__imgs img[alt="learn-pre"]
{
    margin-left: 5rem;
}

.learn__press__info__imgs .card__imgs img:hover
{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    cursor: pointer;
}


.learn__press button 
{
    background: #ffb606;
    font-size: 16px;
    padding: 10px 55px;
    font-weight: 600;
    color: #000;
    transition: all .3s;
    border: none;
    outline: none;
    margin-left: 30rem;
}


.learn__press button + .learnpress__popup 
{
    /*position: fixed;
    */position: fixed;
    /*position: sticky;
    */width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    background: #fff;
    z-index: 100;
    text-align: center;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
}

.learn__press button + .learnpress__popup i 
{
    position: absolute;
    font-size: 3rem;
    right: .5rem;
    cursor: pointer;
}


.learnpress__popup__info 
{
    width: 100%;
    height: 10rem;
    /* background: red; */
    justify-content: space-between;
    display: flex;
}


.learnpress__popup__info .model__body 
{
    width: 49%;
    /* background: yellow; */
    display: flex;
    text-align: left ;

}

.learnpress__popup__info .model__body img 
{
    width: 45%;
    height: 100%;
    margin: 0 1rem;
}

.learnpress__popup__info .model__body a, .learnpress__popup__info .model__body p
{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.learnpress__popup__info .model__body p 
{
    color: #ccc;
}

.learnpress__popup__info .model__body a 
{
    color: black;
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    display: block;
    margin-bottom: .5rem;
}

.learnpress__popup__info .model__body a:hover 
{
    color: #ffb606;
}

















.users__trust__eduma
{
    width: 100%;
    height: 25rem;
    background: red;
    background-image: url("https://educationwp.thimpress.com/wp-content/themes/eduma-child-landingpage/assets/images/BG2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.users__trust__eduma .users__trust__eduma__center 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.users__trust__eduma .users__trust__eduma__center span 
{
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    display: block;
}

.users__trust__eduma .users__trust__eduma__center span:nth-of-type(2)
{
    font-family: sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1.1rem;
}

.users__trust__eduma .users__trust__eduma__center a 
{
    font-size: 16px;
    border: 3px solid #000;
    padding: 10px 55px;
    font-weight: 600;
    border-radius: 10px;
    color: #000;
    transition: all .3s;
    text-decoration: none;
}

.users__trust__eduma .users__trust__eduma__center a:hover 
{
    border-color: #fff;
    color: #fff;
}

.box__icons 
{
    width: 100%;
    height: 15rem;
    text-align: center;
    padding-top: 3.5rem;
}

.box__icons span 
{
    text-align: center;
}

.box__icons img 
{
    width: 60px;
    height: 60px;
    margin-right: 1.5rem;
    cursor: pointer;
}